In [1]:
import pandas as pd
from matplotlib import pyplot as plt
filename="./dataset/data_100000.csv"
  
# df = pd.read_csv(filename, sep = ',', parse_dates= [col],encoding='utf-8-sig', usecols= ['created_at', 'ids'],)
df = pd.read_csv(filename)
# The dataset contains no missing values ("" or null)
df = df.dropna()

In [2]:
# No duplicates.
df.drop_duplicates()

,created_at,tree_id,block_id,the_geom,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,...,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp
0,08/27/2015,180683,348711,POINT (-73.84421521958048 40.723091773924274),3,0,OnCurb,Alive,Fair,Acer rubrum,...,28,16,QN17,Forest Hills,4073900,New York,40.723092,-73.844215,1.027431e+06,202756.768749
1,09/03/2015,200540,315986,POINT (-73.81867945834878 40.79411066708779),21,0,OnCurb,Alive,Fair,Quercus palustris,...,27,11,QN49,Whitestone,4097300,New York,40.794111,-73.818679,1.034456e+06,228644.837379
2,09/05/2015,204026,218365,POINT (-73.93660770459083 40.717580740099116),3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,50,18,BK90,East Williamsburg,3044900,New York,40.717581,-73.936608,1.001823e+06,200716.891267
3,09/05/2015,204337,217969,POINT (-73.93445615919741 40.713537494833226),10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,53,18,BK90,East Williamsburg,3044900,New York,40.713537,-73.934456,1.002420e+06,199244.253136
4,08/30/2015,189565,223043,POINT (-73.97597938483258 40.66677775537875),21,0,OnCurb,Alive,Good,Tilia americana,...,44,21,BK37,Park Slope-Gowanus,3016500,New York,40.666778,-73.975979,9.909138e+05,182202.425999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,10/08/2015,299309,409877,POINT (-74.2476220025519 40.50285270258401),7,0,OnCurb,Alive,Fair,Pyrus calleryana,...,62,24,SI11,Charleston-Richmond Valley-Tottenville,5024402,New York,40.502853,-74.247622,9.153862e+05,122576.815592
99996,10/08/2015,299310,409877,POINT (-74.24760188461457 40.50279600610096),7,0,OnCurb,Alive,Good,Pyrus calleryana,...,62,24,SI11,Charleston-Richmond Valley-Tottenville,5024402,New York,40.502796,-74.247602,9.153918e+05,122556.144045
99997,10/10/2015,307148,323051,POINT (-73.7512941078738 40.777061235064345),3,0,OnCurb,Alive,Good,Pyrus calleryana,...,26,11,QN45,Douglas Manor-Douglaston-Little Neck,4148300,New York,40.777061,-73.751294,1.053132e+06,222478.970118
99998,10/08/2015,297724,415760,POINT (-74.14599626668874 40.55119304411556),5,0,OnCurb,Alive,Good,Pyrus calleryana,...,64,24,SI54,Great Kills,5013203,New York,40.551193,-74.145996,9.436777e+05,140124.806743
99999,10/02/2015,277768,100613,POINT (-74.01358936114298 40.717426536991724),8,0,OnCurb,Alive,Good,Pyrus calleryana,...,66,26,MN25,Battery Park City-Lower Manhattan,1031703,New York,40.717427,-74.013589,9.804829e+05,200654.644016

In [3]:
df['created_at'].head()

0    08/27/2015
1    09/03/2015
2    09/05/2015
3    09/05/2015
4    08/30/2015
Name: created_at, dtype: object

In [37]:
df.head(4)

,tree_id,block_id,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,steward,...,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp,day,month,year
0,180683,348711,3,0,OnCurb,Alive,2,1,1,1,...,Forest Hills,4073900,New York,40.723092,-73.844215,1.027431e+06,202756.768749,27,08,2015
1,200540,315986,21,0,OnCurb,Alive,2,2,2,1,...,Whitestone,4097300,New York,40.794111,-73.818679,1.034456e+06,228644.837379,03,09,2015
2,204026,218365,3,0,OnCurb,Alive,1,3,3,2,...,East Williamsburg,3044900,New York,40.717581,-73.936608,1.001823e+06,200716.891267,05,09,2015
3,204337,217969,10,0,OnCurb,Alive,1,3,3,1,...,East Williamsburg,3044900,New York,40.713537,-73.934456,1.002420e+06,199244.253136,05,09,2015

In [128]:
drop colimns
df = df.drop('the_geom', 1) 
df = df.drop('curb_loc', 1) 
df = df.drop('state', 1) 
df = df.drop('status', 1)
df = df.drop('nta', 1) 
df = df.drop('nta_name', 1) 
df = df.drop('guards', 1) 
df = df.drop('user_type', 1) 
df = df.drop('root_grate', 1)
df = df.drop('root_other', 1)
df = df.drop('trnk_wire', 1)
df = df.drop('trnk_light', 1)
df = df.drop('trnk_other', 1)
df = df.drop('brnch_ligh', 1)
df = df.drop('brnch_shoe', 1)
df = df.drop('brnch_othe', 1)
df = df.drop('address', 1)
df = df.drop('zipcode', 1)
df = df.drop('zip_city', 1)
df = df.drop('cb_num', 1)
df = df.drop('boroname', 1)
df = df.drop('boro_ct', 1)
df = df.drop('latitude', 1)
df = df.drop('longitude', 1)

In [129]:
df['created_at'] = pd.to_datetime(df['created_at'], errors='coerce')
df['day'] = df['created_at'].dt.strftime('%d')
df['month'] = df['created_at'].dt.strftime('%m')
df['year'] = df['created_at'].dt.strftime('%Y')
df = df.drop('created_at', 1) 

df.head(4)

,tree_id,block_id,tree_dbh,stump_diam,health,spc_latin,spc_common,steward,sidewalk,problems,root_stone,borocode,cncldist,st_assem,st_senate,x_sp,y_sp,day,month,year
0,180683,348711,3,0,2,1,1,1,1,1,1,4,29,28,16,1.027431e+06,202756.768749,27,08,2015
1,200540,315986,21,0,2,2,2,1,2,2,2,4,19,27,11,1.034456e+06,228644.837379,03,09,2015
2,204026,218365,3,0,1,3,3,2,2,1,1,3,34,50,18,1.001823e+06,200716.891267,05,09,2015
3,204337,217969,10,0,1,3,3,1,2,2,2,3,34,53,18,1.002420e+06,199244.253136,05,09,2015

In [80]:
# _columns = ['curb_loc','status','health','spc_latin','nta_name','state']
df['curb_loc'] = df['curb_loc'].map(lambda x: x.lstrip().rstrip())
df['status'] = df['status'].map(lambda x: x.lstrip().rstrip())
df['health'] = df['health'].map(lambda x: x.lstrip().rstrip())
df['spc_latin'] = df['spc_latin'].map(lambda x: x.lstrip().rstrip())
df['nta_name'] = df['nta_name'].map(lambda x: x.lstrip().rstrip())
df['state'] = df['state'].map(lambda x: x.lstrip().rstrip())

In [74]:
# df['state'].head
df.columns

Index(['tree_id', 'block_id', 'tree_dbh', 'stump_diam', 'health', 'spc_latin',
       'spc_common', 'steward', 'sidewalk', 'problems', 'root_stone',
       'root_grate', 'root_other', 'trnk_wire', 'trnk_light', 'trnk_other',
       'brnch_ligh', 'brnch_shoe', 'brnch_othe', 'address', 'zipcode',
       'zip_city', 'cb_num', 'borocode', 'boroname', 'cncldist', 'st_assem',
       'st_senate', 'boro_ct', 'latitude', 'longitude', 'x_sp', 'y_sp', 'day',
       'month', 'year'],
      dtype='object')

In [76]:
# convert to integer categorical variable 'health' to numerical variable 1 and 2
 

df['health'].replace(('Fair','Good'),(2,1), inplace =True)
df['spc_latin'].replace(('Acer rubrum','Quercus palustris','Gleditsia triacanthos var. inermis','Tilia americana',
                         'Pyrus calleryana'),(1,2,3,4,5), inplace =True)
df['spc_common'].replace(('red maple','pin oak','honeylocust','American linden','Callery pear'),(1,2,3,4,5), inplace =True)
df['steward'].replace(('None','1or2'),(1,2), inplace =True)
df['sidewalk'].replace(('NoDamage','Damage'),(1,2), inplace =True)
df['root_stone'].replace(('No','Yes'),(1,2), inplace =True)

In [130]:
df.to_csv('./dataset/data_95007.csv')