In [272]:
import pandas as pd
from matplotlib import pyplot as plt
filename="./dataset/data_100000.csv"
  
# df = pd.read_csv(filename, sep = ',', parse_dates= [col],encoding='utf-8-sig', usecols= ['created_at', 'ids'],)
df = pd.read_csv(filename)
# The dataset contains no missing values ("" or null)
# df = df.dropna()

In [273]:
# No duplicates.
df = df.drop_duplicates()

In [274]:
df['created_at'].head()

0    08/27/2015
1    09/03/2015
2    09/05/2015
3    09/05/2015
4    08/30/2015
Name: created_at, dtype: object

In [275]:
df['created_at'] = pd.to_datetime(df['created_at'], errors='coerce')
df['day'] = df['created_at'].dt.strftime('%d')
df['month'] = df['created_at'].dt.strftime('%m')
df['year'] = df['created_at'].dt.strftime('%Y')
df = df.drop('created_at', 1) 

df.head(4)

,tree_id,block_id,the_geom,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp,day,month,year
0,180683,348711,POINT (-73.84421521958048 40.723091773924274),3,0,OnCurb,Alive,Fair,Acer rubrum,red maple,...,Forest Hills,4073900,New York,40.723092,-73.844215,1.027431e+06,202756.768749,27,08,2015
1,200540,315986,POINT (-73.81867945834878 40.79411066708779),21,0,OnCurb,Alive,Fair,Quercus palustris,pin oak,...,Whitestone,4097300,New York,40.794111,-73.818679,1.034456e+06,228644.837379,03,09,2015
2,204026,218365,POINT (-73.93660770459083 40.717580740099116),3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,East Williamsburg,3044900,New York,40.717581,-73.936608,1.001823e+06,200716.891267,05,09,2015
3,204337,217969,POINT (-73.93445615919741 40.713537494833226),10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,East Williamsburg,3044900,New York,40.713537,-73.934456,1.002420e+06,199244.253136,05,09,2015

In [277]:
# _columns = ['curb_loc','status','health','spc_latin','nta_name','state']
df['curb_loc'] = df['curb_loc'].map(lambda x: x.lstrip().rstrip())
df['status'] = df['status'].map(lambda x: x.lstrip().rstrip())
# df['health'] = df['health'].map(lambda x: x.lstrip().rstrip())
# df['spc_latin'] = df['spc_latin'].map(lambda x: x.lstrip().rstrip())
df['nta_name'] = df['nta_name'].map(lambda x: x.lstrip().rstrip())
df['state'] = df['state'].map(lambda x: x.lstrip().rstrip())

In [278]:
# drop colimns
df = df.drop('the_geom', 1) 
df = df.drop('curb_loc', 1) 
df = df.drop('spc_latin', 1)
df = df.drop('spc_common', 1)
df = df.drop('problems', 1)
df = df.drop('trnk_wire', 1)
df = df.drop('trnk_light', 1)
df = df.drop('trnk_other', 1)
df = df.drop('brnch_ligh', 1)
df = df.drop('brnch_shoe', 1)
df = df.drop('brnch_othe', 1)
df = df.drop('address', 1)
df = df.drop('zip_city', 1)
df = df.drop('boroname', 1)
df = df.drop('st_assem', 1)
df = df.drop('st_senate', 1)
df = df.drop('nta', 1) 
df = df.drop('nta_name', 1) 
df = df.drop('boro_ct', 1)
df = df.drop('state', 1) 
df = df.drop('latitude', 1)
df = df.drop('longitude', 1)
df = df.drop('x_sp', 1)
df = df.drop('y_sp', 1)
df = df.drop('status', 1)

In [351]:
df.dtypes

tree_id        int64
block_id       int64
tree_dbh       int64
stump_diam     int64
status        object
year          object
steward        int64
guards         int64
sidewalk       int64
user_type      int64
root_stone     int64
root_grate     int64
root_other     int64
zipcode        int64
cb_num         int64
borocode       int64
cncldist       int64
day           object
month         object
health         int64
dtype: object

In [352]:
 
all_items = []
for x in df.status:
    all_items.extend(x.split('|'))
all_items = pd.unique(all_items)
all_items

AttributeError: 'int' object has no attribute 'split'

In [279]:
# convert to integer categorical variable 'health' to numerical variable 1 and 2
 
# df['curb_loc'].replace(('OnCurb'),(1), inplace =True)
df['status'].replace(('Alive'),(1), inplace =True)
df['health'].replace(('Fair','Good','Poor'),(3,2,1), inplace =True)
df['steward'].replace(('None','1or2','3or4','4orMore'),(1,2,3,4), inplace =True)
df['guards'].replace(('None','Helpful','Harmful','Unsure'),(1,2,3,4), inplace =True)
df['sidewalk'].replace(('NoDamage','Damage'),(1,2), inplace =True) 
df['user_type'].replace(('TreesCount Staff','Volunteer','NYC Parks Staff'),(1,2,3), inplace =True) 
df['root_stone'].replace(('No','Yes'),(1,2), inplace =True)
df['root_grate'].replace(('No', 'Yes'),(1,2), inplace =True)
df['root_other'].replace(('No', 'Yes'),(1,2), inplace =True)
# df['trnk_wire'].replace(('No', 'Yes'),(1,2), inplace =True)

In [281]:
df.to_csv('./dataset/data_10000.csv')

In [359]:
# x = 0
# df['sidewalk'].replace((np.nan, np.int64(x)), inplace=True)
# df['sidewalk'].replace((np.inf, np.int64(x)), inplace=True)
df = df.drop('status', 1)

In [368]:
# df.head()
# df.columns
# df = df[['tree_id', 'block_id', 'tree_dbh', 'stump_diam', 'status','year',
#        'steward', 'guards', 'sidewalk', 'user_type', 'root_stone',
#        'root_grate', 'root_other', 'zipcode', 'cb_num', 'borocode', 'cncldist',
#        'day', 'month', 'health']]
# df.head
# df['status'] = df['status'].astype(np.int64) 
 
df.head(4)

,tree_id,block_id,tree_dbh,stump_diam,year,steward,guards,sidewalk,user_type,root_stone,root_grate,root_other,zipcode,cb_num,borocode,cncldist,day,month,health
0,180683,348711,3,0,2015,1,1,1,1,1,1,1,11375,406,4,29,27,8,3
1,200540,315986,21,0,2015,1,1,2,1,2,1,1,11357,407,4,19,3,9,3
2,204026,218365,3,0,2015,2,1,2,2,1,1,1,11211,301,3,34,5,9,2
3,204337,217969,10,0,2015,1,1,2,2,2,1,1,11211,301,3,34,5,9,2

In [364]:
import numpy as np

dataset = df.values
x = dataset[:, 0:18]
y = np.asarray(dataset[:,18], dtype = 'S6')

In [365]:
from sklearn import tree
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import metrics

X_Train, X_Test, Y_Train, Y_Test = train_test_split(x,y, test_size = 0.2, random_state = 0)

tr = tree.DecisionTreeClassifier(max_depth=10)
 
tr.fit(X_Train, Y_Train)

DecisionTreeClassifier(max_depth=10)

In [366]:
y_pred= tr.predict(X_Test)

In [367]:
y_pred

array([b'2', b'2', b'2', ..., b'2', b'2', b'2'], dtype='|S6')

In [369]:
score = tr.score(X_Test, Y_Test)
print('Presition : %0.4f' % (score))

Presition : 0.7639